body {
    margin: 0;
    padding: 0;
}
main {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 42em;
    margin: 0 auto;
    display: flex;
}

.left {
    text-align: center;
    background-color: rgb(245, 245, 245);
    min-width: 15em;
    height: 100%;
    display: flex;
    flex-direction: column;;
    z-index: 0;
    transition:margin 0.5s ease-out;
}
.left.toggled {
    margin-left: -15em;
}
@media (max-width: 900px) {
    .left {
        margin-left: -15em;
    }
    .left.toggled {
        margin-left: 0em;
    }
}
.left ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.playlists li {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
    background-color: rgb(243, 243, 243);
    border-top-style: solid;
    border-width: 1px;
    border-color: rgb(109, 119, 119);
}

.playlists li.selected {
    font-weight: bold;
    background-color: rgb(212, 212, 212);
}

.playlists li:hover {
    cursor: pointer;
    background-color: rgb(212, 212, 212);
}

.left .managePlaylists {
    margin-top: auto;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

.left .addPlaylist {
    background-image: url("icons/add.svg");
    background-size: cover;
    width: 3em;
    height: 3em;
    margin-right: 1em;
}

.left .addPlaylist:hover {
    background-image: url("icons/add_h.svg");
}

.left .removePlaylist {
    background-image: url("icons/remove_n.svg");
    background-size: cover;
    width: 3em;
    height: 3em;
}

.left .removePlaylist:hover {
    background-image: url("icons/remove_h.svg");
}

.right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.upper {
    min-height: 6em;
}

.player {
    background-image: linear-gradient(#D3D3D3, #E0E0E0	, 	#D3D3D3);
    display: flex;
    align-items: center;
}


.playlistToggle {
    background-image: url("icons/playlist_n.svg");
    background-size: cover;
    cursor: pointer;
    background-repeat: 0 0;
    margin-left: 2em;
    min-width: 3em;
    height: 3em;
}

.playlistToggle:hover {
    background-image: url("icons/playlist_h.svg");
}

#soundToggle {
    width: 3em;
    height: 3em;
    margin-right: 2em;
}

#soundToggle.sound {
    background-image: url("icons/volume_n.svg");
    background-size: cover;
}

#soundToggle.sound:hover {
    background-image: url("icons/volume_h.svg");
}

#soundToggle.mute {
    background-image: url("icons/mute_n.svg");
    background-size: cover;
}

#soundToggle.mute:hover {
    background-image: url("icons/mute_h.svg");
}

#playToggle {
    min-width: 4em;
    margin-right: 2em;
}

#playToggle.pause {
    background-image: url("icons/play_n.png");
    background-size: cover;
    cursor: pointer;
    background-repeat: 0 0;
    width: 4em;
    height: 4em;
}

#playToggle.pause:hover {
    background-image: url("icons/play_h.png");
    background-size: cover;
}

#playToggle.play {
    background-image: url("icons/pause_n.png");
    background-size: cover;
    cursor: pointer;
    background-repeat: 0 0;
    width: 4em;
    height: 4em;
}

#playToggle.play:hover{
    background-image: url("icons/pause_h.png");
    background-size: cover;
}

.spacing {
    width: 10em;
    flex-shrink: 2;
}

.currentSong{
    margin: 0;
    padding: 0;
    width: 8em;
    min-width: 6em;
    text-align: center;
}

.visual {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 2em;
    margin-right: 4em;
    max-width: 500px;
}

.visualizer {
    height: 4em;
    width: 100%;
    margin-bottom: 3px;
}

.progress {
    width: 1px;
    height: 3px;
    background: black;
    transition: width .1s linear;
  }

.selectedPlaylist {
    display: flex;
    flex-wrap: wrap;
    background-color: 	#B0B0B0;
    padding: 10px;
    flex-grow: 1;
    overflow-y: scroll;
}

.selectedPlaylist div.song {
    width: 180px;
    height: 200px;
    margin: 8px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.selectedPlaylist div.song:hover {
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.selectedPlaylist div.song img{
    width: 160px;
    height: 160px;
    margin-bottom: 5px;
}

.selectedPlaylist h6 {
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
    white-space: nowrap;
}

h1 {
    margin: 0;
    padding-top: 0.6em;
    overflow: clip;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
}

footer {
    font-size: 0.7em;
    margin-top: 0.5em;
    text-align: center;
}


.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 16px;
    box-sizing: border-box;
    z-index: 99;
}

.modal.visible {
    visibility: visible;
}

.modalAddContent {
    margin: auto;
    padding: 16px;
    width: 400px;
    max-width: 800px;
    min-height: 300px;
    border-radius: 10px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalRemoveContent {
    margin: auto;
    padding: 16px;
    width: 400px;
    max-width: 800px;
    min-height: 300px;
    border-radius: 10px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.progressbckgrnd {
    width: 100%;
    background: gray;
}